@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.row {
    margin: 0;

    #sidebar {
        width: 290px;
        padding: 50px 0 0 30px;

        .profile-img {
            border-radius: 50%;
            margin-bottom: 20px;
        }

        .title {
            font-weight: 700;
            font-size: 20px;
            margin: 0 0 4px 0;
            color: #0C145A;
        }

        .desc {
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 52px;
            color: #7E8CAC;
        }

        .sidebar-item {
            width: 100%;
            margin-bottom: 30px;

            svg {
                width: 24px;
                height: 24px;
                margin-right: 16px;
            }

            .title {
                font-weight: 400;
                font-size: 18px;
                color: #7E8CAC;
                margin: 0;
            }

            &.active {
                position: relative;

                .title {
                    font-weight: 500;
                    color: #0C145A;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 186, 255, 1);
                    border-radius: 4px;
                }
            }
        }
    }

    #mainbar {
        padding: 50px 53px 0 50px;

        .title {
            font-weight: 700;
            font-size: 32px;
            color: #0C145A;
            margin-bottom: 30px;
        }

        .desc {
            font-weight: 400;
            font-size: 18px;
            color: #7E8CAC;
            margin-bottom: 4px;
        }

        .price {
            font-weight: 500;
            font-size: 42px;
            color: #0C145A;
            margin-bottom: 30px;
        }

        .nav-container {
            gap: 18px;

            .nav-item {
                width: 112px;
                height: 40px;
                border-radius: 80px;
                background: #E7EAF5;

                .desc {
                    font-weight: 400;
                    font-size: 14.4px;
                    color: #0C145A;
                    margin-bottom: 0;
                }

                &.active {
                    background: #2B2467;

                    .desc {
                        color: #fff;
                    }
                }
            }
        }

        #game-table {
            width: 100%;
            padding: 40px 53px 0 30px;

            .game-item {
                gap: 16px;

                .title {
                    font-weight: 500;
                    font-size: 16px;
                    color: #0C145A;
                    margin-bottom: 4px;
                }

                .desc {
                    font-weight: 400;
                    font-size: 12px;
                    color: #7E8CAC;
                }
            }

            .table-desc {
                margin: 0;
                font-weight: 500;
                font-size: 16px;
                color: #0C145A;
            }

            .status- {
                &warning {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-right: 6px;
                    background: #FEBD57;
                }

                &success {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-right: 6px;
                    background: #1ABC9C;
                }

                &failed {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-right: 6px;
                    background: #FE5761;
                }
            }

            .action-item {
                width: 112px;
                height: 40px;
                background: #E7EAF5;
                border-radius: 80px;
                margin: auto;

                .desc {
                    font-weight: 400;
                    font-size: 14.4px;
                    color: #0C145A;
                    margin: 0;
                }
            }
        }
    }
}